@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*display-flex*/ 
.header{
    display: flex;
    justify-content: center;
    
}
/*width-container*/
.container{
    width: 375px;
    background-color: bisque;
    padding-bottom: 21px;
    padding-top: 16px;
    /*margin-top: 25px;*/
    
}
.product-cards{
    width: 343px;
    
}
/*surati*/
.picture{
    display: flex;
    justify-content:center;

}
/*tetri feri-text-bg*/
.card-background{
    background-color: white;
    margin-left: 18px;
    margin-right: 18px;
    padding-left: 27px;
    padding-bottom: 21px;
   
    
    
}
/*text*/
.text-wrapper{
    padding-top:21px;
}
.perfume{
    letter-spacing: 1.7px;
    font-size: 1.45rem;
    text-transform: uppercase;
    color:#dadde0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}
.head{
    padding-top: 15px;
    font-size: 2.4rem;
    font-weight: 700;
}
.title{
    font-size: 1.14rem;
    padding-top: 10px;
    color: gray;
}
.items{
    display: flex;
    align-items: center;
    padding-top: 21px;
}
h2{
    color:#42816c;
    font-size: 2.5rem;
    font-weight: 700;
}
h3{
    padding-left: 20px;
    font-size: 1rem;
    color: gray;
    text-decoration: line-through;
}
.button{
    padding-top: 18px;
    border:none
}
button{
    padding-left: 96px;
    padding-right:92px;
    background-color: #42816c;
    color:white;
    border: none;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    background-color: greenyellow;
}


